.profile-container {
    width: 350px;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translateY(-50%);
}


.text-avatar {
    width: 200px;
    height: 200px;
    margin: 20px auto; /* 수평 중앙 정렬 및 전체 여백 20px 설정 */
    margin-top: 40px; /* 상단에 40px의 여백 추가 */
    text-align: center;
    border-radius: 50%; /* 이미지를 둥글게 만듭니다 */
    overflow: hidden; /* border-radius 속성으로 인해 이미지가 넘치지 않도록 합니다 */
    background: #46b5e5;
    background: linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -ms-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -moz-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -o-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -webkit-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
}

.profile-info .profile-avatar img {
    border-radius: 50%;
    max-width: 250px;
}

.text-avatar span {
    line-height: 200px;
    color: #fff;
    font-size: 3em;
}